.product-card 
    figure.product-card__shape
        img(src="assets/img/products/apple-tv.jpg", alt="apple-tv").product-card__img
        figcaption.product-card__title.
            Apple TV 32GB
    span.product-card__color.
        black
    span.product-card__price.
        $49.99