*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%; // 1rem - 10px  
}

body {
    box-sizing: border-box;
    background-color: $gray-bg;
    color: $dark-blue;
    font-weight: 600;

    @include respond(tab-land) {// 1rem - 9.2px
        font-size: 56.25%;
    }

    @include respond(tab-port) {// 1rem - 8px
        font-size: 50%;
    }
    @include respond(big-desktop) {// 1rem - 12px
        font-size: 75%;
    }
}