$dark-blue: #343e5c;
$black: #1c1e23;
$green-accent: #00e2aa;
$blue-gray: #a1a8bd;
$blue-accent: #2754eb;
$product-color: #b8bfd3;
$footer-color: #222328;
$gray-bg: #e4e5e7;
$badge-bg: #e3e8f0;
$divider-color: #f0f2f7;
$nav-color: #b9bed1;


// border radius

$border-radius-default: 5px;

$container-width: 80vw;

$gap-desktop: 3rem;
$gap-tab-land: 1.5rem;
$gap-tab-port: .5rem;

$height-product-card-desktop: 30rem;
$height-product-card-tab-land: 28rem;
$height-product-card-tab-port: 22rem;
