.check-box {
    display: flex;
    &__input {
        display: none;
    }
    &__input:checked + &__label::before{
        background-color: #00E1A9;
    }

    &__input:checked + &__label::after{
        visibility: visible;
    }

    &__label {
        flex: 1 1 auto;
        text-transform: capitalize;
        position: relative;
        padding-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        white-space: nowrap;
        cursor: pointer;
        transition: all .5s;
        @include respond(tab-land) {
            padding-left: 2.5rem;
        }
        @include respond(tab-port) {
            padding-left: 1.8rem;
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 50%;
            width: 2rem;
            height: 2rem;
            // border: 1px solid ;
            background-color: #EFF2F7;
            transform: translateY(-50%);
            transition: all .3s;
            @include respond(tab-port) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        &::after {
            content: "";
            width: 1.2rem;
            height: 1.2rem;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            background: url(/assets/img/icons/check-icon.svg) no-repeat;
            transform: translate(30%, -50%);
            visibility: hidden;
            transition: all .4s .1s;
            @include respond(tab-port) {
                width: 1rem;
                height: 1rem;
                transform: translate(18%, -50%);
            }
        }
    }

    &--round {
        .check-box__label{
            &::before {
                border-radius: 50%;
            }
        }
    }
    &--square {
        .check-box__label{
            &::before {
                border-radius: 2px;
            }
        }
    }
}